include COPYING.txt
include README.rst
include requirements.txt
include gEDA_support/gnet-qhdl.scm
include gEDA_support/gschem_qhdl_symbols/*.sym
include gEDA_support/config/*rc
include examples/qhdl/*.qhdl
include examples/gschem/*.sch
include examples/notebooks/*.ipynb

