/* MAKE figures float left to emulate multi-figure environments */

div.figure {
    float:left;
    margin: 10px;
    border: 1px dashed;
    padding: 10px;
}

div.figure p.caption {
    text-align: center;
}

div.graphviz p {
    text-align: right;
    margin-bottom: 0;
    font-size: smaller;
    padding: 0;
}


/* necessary to have line-break between last figure and text. */

div.section p {
    clear: left;
}

img.inheritance {
    max-width: none;
}

object.inheritance {
    max-width: 100%;
}

div.math {
    overflow: auto;
}

.highlight  { background: none; }
